{% extends "base.html" %}

{% block title %}Contact - CSL Blueprints{% endblock %}

{% block content %}

<section class="contact-hero">

    <div class="contact-overlay">

        <div class="contact-content">
            <br>

             <h1>Communication</h1>
            <p>
                Whether you're interested in partnerships, climate innovation,
                sustainability consulting, or simply want to learn more about
                CSL Blueprints, we're here to help.
            </p>

        </div>

    </div>

</section>

<section class="contact-section">

    <div class="contact-wrapper">

        <div class="contact-info">

            <h2>Get In Touch</h2>

            <p>
                Reach out to us through any of the following channels.
                We look forward to hearing from you.
            </p>

            <div class="info-box">

                <h3>📧 Email</h3>

                <a href="mailto:info@cslblueprints.com">
                    cslblueprints@gmail.com
                </a>

            </div>

            <div class="info-box">

                <h3>📞 Phone</h3>

                <a href="tel:+254710630565">
                    +254 710 630 565, Clement Saini
                </a>

            </div>

            <div class="info-box">

                <h3>📍 Office</h3>

                <p>Nairobi, Kenya</p>

            </div>

        </div>

    </div>

</section>

{% endblock %}