{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}

<!-- Hero Section -->

<section class="home-hero">

    <div class="home-overlay">

        <div class="home-content">

        

            <p>
                Innovate Build Grow.
                We provide high-quality solutions tailored to meet our clients' needs.


            </p>

            <div class="hero-buttons">

                <a href="/services" class="btn-primary">
                    Our Services
                </a>

                <a href="/contact" class="btn-secondary">
                    Contact Us
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}